@charset "UTF-8";
/* CSS Document */
.btn {
	padding: 0.7em 0.9em;
	display: inline-block;
	background-color: #F5F1DE;
	background-image: linear-gradient(to bottom, #25383C, #000);
	border-radius: 9px;
	box-shadow:0 1px 2px rgba(0,0,0,0.5);
	
	color: #d2b48c;
	text-decoration:none;	
	border-style: none;
}

.btn:hover {
	background-color:#33f;
	background-image: linear-gradient(to bottom, #F5F1DE, #000);
	color: black;
}

.btn-large {
	font-size:1.25em;
}

.btn-small {
	font-size:0.5em;
}

.btn-buy {
	background-color: #25383C;
	background-image: linear-gradient(to bottom, #25383C, #000);
}

.btn-buy:hover {
	background-color: #25383C;
	background-image: linear-gradient(to bottom, #d2b48c, #000);
}
	
	
	
